/* equipe.css */
body {
    
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    background-image: URL("https://png.pngtree.com/background/20210715/original/pngtree-abstract-white-geometric-volume-hexagonal-decorative-background-in-minimalist-style-picture-image_1329186.jpg");
    background-size: cover;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 4%;
    color: #6c757d;
    font-size: 2em;
}

.custom-header {
    background-color: #11a086;
    color:#11a086;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.main {
    padding: 20px;
    width: 100%;
    
    

}
main{
    display:grid;
}

.team-card {
    border: 1px solid #ccc;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 20px;
    width: 80%;
    text-align: left;
    background-color: #fff;
    place-self: center;
}

h2 {
    margin-bottom: 20px;
    color: #495057;
    font-size: 1.5em;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
}

button:hover {
    background-color: #444;
    cursor: pointer;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #555;
}

form {
    margin-bottom: 20px;
}

input[type="email"], select {
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

/* header.css */
/* .custom-header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
} */
