body {
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: URL("https://png.pngtree.com/background/20210715/original/pngtree-abstract-white-geometric-volume-hexagonal-decorative-background-in-minimalist-style-picture-image_1329186.jpg");
    background-size: cover;
    display:flex;
    flex-direction: column;
}
body {
    
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}
.main {
    padding: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start; 
    


}

main{
    width: 80%;
    background-color: white;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    place-self: center;
}

h1, h2 {
    text-align: center;
    color: #6c757d;
}

table {
    width: 90%;
    margin: 1em auto;
    border-collapse: collapse;
}

th, td {
    padding: 0.5em;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

input[type=text], select, button {
    width: 100%;
    padding: 0.5em;
    margin: 0.2em 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    color: white;
    background-color: #11a086;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #45a049;
}

form {
    width: 90%;
    margin: 1em auto;
}

/* header.css */
.custom-header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 6%;
    width: 100%;
}