body{
	background-image: url(../assets/fond.jpg);
    background-size: cover;
}

.card_profil{
    background-color: #fbfbfb;
    border-radius: 30px;
    width: 50%;
    place-self: center;
    place-content: center;
    display:grid;
    padding-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

#Information{
    display:grid;
    place-content: center;
}


.row{
    display:flex;
}

.label_profil{
    margin-right: 50px;
    border-bottom: solid 2px black;
    margin-bottom: 15px;
}

.info_profil{
    margin-top: -23px;
}

#update{
    height: 50px;
    border:none;
    display:block;
    color: white;
    background-color: #147cb4;
    width: max-content;
    margin-top: 30px;
    place-self: center;
}

#identite{
    text-align: center;
}

#info{
    margin-left: 25%;
    margin-bottom: 20px;

}

.Avatar{
    place-self: center;
    margin-bottom: -130px;
}

footer{
    margin-top:20px;
    margin-bottom:-500px;
}