<!DOCTYPE html >



<html lang="fr">

	<meta charset="UTF-8">
<head>

    <link href="../../public/css/stylle.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans"
    rel="stylesheet" />

    <title>Projet hackathon</title>
</head>
<body>
	 
	<header>
	   <div>
		<h1><em>Projet hackathon</em></h1> 
		<h4>Venez challenger vos données</h4>
	   </div>
		
	</header>
	<ul id="top"> 
		<li><a href="Acceuil.html" class="active">Accueil</a></li>
		<li><a href="Challenges.html">Challenges</a></li>
		<li><a href="Contacts.html">Contacts</a></li>
		<li><a href="Connexion.html" class="split">Connexion
			<!-- <?php
				if(isset($_SESSION['utilisateur_connecte'])){
					echo('Déconnexion');
				} else {
					echo('Connexion');
				}
			?> -->
		</a></li>
		


	</ul>
	<div class="body">
		<div class="parag1">
			
			<a href="" class=""> <B>Data Challenge</B></a>
			<p>Lorem ipsum kdpoefjpzok</p>
			
			<div class="projet_data">
				<a href="">
					<img src="../../public/assets/truc.jpg" class="challenge" alt="bonbon miel">
				</a>
				<a href="">
					<img src="../../public/assets/truc.jpg" class="challenge" alt="bonbon miel">
				</a>
				<a href="">
					<img src="../../public/assets/truc.jpg" class="challenge" alt="bonbon miel">
				</a>
			</div>
		</div>
		
		<div class="parag1">
			
			<a href="" class=""> <B>Data Challenge</B></a>
			<p>Lorem ipsum2 kdpoefjpzok</p>
			
			<div class="projet_data">
				<a href="">
					<img src="../../public/assets/truc.jpg" class="challenge" alt="bonbon miel">
				</a>
				<a href="">
					<img src="../../public/assets/truc.jpg" class="challenge" alt="bonbon miel">
				</a>
				<a href="">
					<img src="../../public/assets/truc.jpg" class="challenge" alt="bonbon miel">
				</a>
			</div>
		</div>
		
		<div class="parag1">
			
			<a href="" class=""> <B>Data Challenge</B></a>
			<p>Lorem ipsum kdpoefjpzok</p>
			
			<div class="projet_data">
				<a href="">
					<img src="../../public/assets/truc.jpg" class="challenge" alt="bonbon miel">
				</a>
				<a href="">
					<img src="../../public/assets/truc.jpg" class="challenge" alt="bonbon miel">
				</a>
				<a href="">
					<img src="../../public/assets/truc.jpg" class="challenge" alt="bonbon miel">
				</a>
			</div>
		</div>
		<br>
		
	</div>

</body>
