
<!DOCTYPE html >
<html xml:lang="fr" lang="fr">
<meta charset="UTF-8">
<head>

    <link href="stylle.css" rel="stylesheet" />
    <link
    href="https://fonts.googleapis.com/css?family=Open+Sans"
    rel="stylesheet" />

    <title>Projet hackathon</title>
</head>
<body>
	 
	<header>
	   <div>
		<h1><em>Projet hackathon</em></h1> 
		<h4>Venez challenger vos données</h4>
	   </div>
		
	</header>
	<ul id="top"> 
		<li><a href="Acceuil.html" class="active">Accueil</a></li>
		<li><a href="Challenges.html">Challenges</a></li>
		<li><a href="Contacts.html">Contacts</a></li>
		<li><a href="Connexion.html" class="split">Connexion
			<!-- <?php
				if(isset($_SESSION['utilisateur_connecte'])){
					echo('Déconnexion');
				} else {
					echo('Connexion');
				}
			?> -->
		</a></li>
		


	</ul>
	<div class="body">
		<div class="parag1">
			<p class="parag">
				Lorem ipsum 
			</p>
			<div class="projet_data">
				<img src="truc.jpg" class="challenge" alt="bonbon miel">
				<img src="truc.jpg" class="challenge" alt="bonbon miel">
				<img src="truc.jpg" class="challenge" alt="bonbon miel">
			</div>
		</div>
		<br>
		<!-- <div class="parag1">
			<img src="truc.jpg" class="challenge" alt="bonbon miel">
			<p class="parag">
				Aut nobis facilis sed iure natus aut veniam officia qui saepe iure eos dignissimos suscipit rem sequi recusandae aut voluptatem consequatur. Et tempore sequi sit accusamus impedit est error neque rem consequatur unde et saepe nobis. In quidem iure et dolorem similique qui voluptas dolorem et cumque voluptas vel fugiat ipsa nam voluptatibus saepe. A omnis dolores qui nesciunt veritatis non enim ipsa in dolorem eius eos Quis dolorem et dolore numquam et omnis rerum. In excepturi nihil sit commodi quaerat ut assumenda dicta vel Quis mollitia cum perspiciatis mollitia quo quasi aliquid id facilis sunt. Et debitis ipsum rem voluptatem architecto aut saepe delectus ea veritatis porro sit magnam voluptas. Et itaque repudiandae id molestiae autem eos internos dolor ea quasi omnis ut earum esse! 
			</p>
		</div>
		<br>
		<div class="parag1">
			<img src="truc.jpg" class="challenge" alt="bonbon miel">
			<p class="parag">
				Qui sapiente vitae qui sapiente adipisci vel quia eveniet qui unde iure ea tempora quos. Et ducimus quibusdam qui quos neque nam sint corrupti. Et quis quia est magnam explicabo sit iure aperiam non error nesciunt. Ut velit fugit et consectetur sint ex quia necessitatibus sed inventore alias qui ratione nemo hic veritatis provident. Quo libero dolores sed quibusdam saepe qui officiis inventore eum quia tempora cum laudantium fugit. 
			</p>
		</div>
		<br>
		<div class="parag1">
			<img src="truc.jpg" class="challenge" alt="bonbon miel">
			<p class="parag">
				Et rerum soluta et molestiae consectetur et fugit illo. Est quidem dolor nam ipsam consequuntur 33 sapiente esse ab natus quis a galisum placeat aut possimus blanditiis et nihil velit. Et reiciendis similique vel adipisci sunt non natus expedita sed voluptatum magni rem fuga voluptatem. Ad placeat molestiae ab exercitationem omnis qui eius facere non nihil voluptatem qui excepturi molestias est quidem doloremque et veniam voluptates. Ut deserunt officia sit aspernatur assumenda et quidem natus ab sapiente molestias qui corrupti aperiam qui voluptatem commodi.
			</p>
		</div> -->
	</div>

</body>